.u-section-1 .u-sheet-1 {
  min-height: 1272px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 645px;
  margin: 29px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 112px 0;
}

.u-section-1 .u-products-1 {
  width: 1091px;
  margin: 30px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 990px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 13px 30px 30px;
}

.u-section-1 .u-image-1 {
  height: 347px;
  width: 313px;
  margin: 0 -8px;
}

.u-section-1 .u-group-1 {
  min-height: 171px;
  height: auto;
  width: 263px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -71px auto 0 9px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 13px 30px 30px;
}

.u-section-1 .u-image-2 {
  height: 347px;
  width: 313px;
  margin: 0 -8px;
}

.u-section-1 .u-group-2 {
  min-height: 171px;
  width: 263px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -71px auto 0 9px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 13px 30px 30px;
}

.u-section-1 .u-image-3 {
  height: 347px;
  width: 313px;
  margin: 0 -8px;
}

.u-section-1 .u-group-3 {
  min-height: 171px;
  width: 263px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -71px auto 0 9px;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 13px 30px 30px;
}

.u-section-1 .u-image-4 {
  height: 347px;
  width: 313px;
  margin: 0 -8px;
}

.u-section-1 .u-group-4 {
  min-height: 171px;
  width: 263px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -71px auto 0 9px;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-product-price-4 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 13px 30px 30px;
}

.u-section-1 .u-image-5 {
  height: 347px;
  width: 313px;
  margin: 0 -8px;
}

.u-section-1 .u-group-5 {
  min-height: 171px;
  width: 263px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -71px auto 0 9px;
}

.u-section-1 .u-container-layout-10 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-product-price-5 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 13px 30px 30px;
}

.u-section-1 .u-image-6 {
  height: 347px;
  width: 313px;
  margin: 0 -8px;
}

.u-section-1 .u-group-6 {
  min-height: 171px;
  width: 263px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -71px auto 0 9px;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-product-price-6 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-size: 1rem;
  margin: 15px 44px 35px auto;
  padding: 16px 61px 16px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-products-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 852px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-1 .u-image-1 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -39px;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-1 .u-image-2 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: -39px;
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-1 .u-image-3 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: -39px;
    height: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-1 .u-image-4 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-4 {
    margin-top: -39px;
    height: auto;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-1 .u-image-5 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-5 {
    margin-top: -39px;
    height: auto;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-1 .u-image-6 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-6 {
    margin-top: -39px;
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-products-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1482px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -40px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -40px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -40px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -40px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -40px;
  }

  .u-section-1 .u-group-6 {
    margin-top: -40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-products-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-products-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}